@import "constants/colors";
@import "constants/shadows";

.banner {
	margin-bottom: -4px;
	min-width: 800px;
	opacity: 0.4;
	width: 100%;
}

.bannerContainer {
	background: black;
	color: white;
	overflow: hidden;
}

.bannerText {
	font-family: 'Abel', sans-serif;			
	font-size: 6vmax;
	font-weight: bold;
	position: absolute;
	padding-top: 3vmax;
	padding-left: 4vmax;
	padding-right: 4vmax;
	padding-bottom: 4vmax;
	top: 60px;
	left: 0px;
	width: 100%;
}

.bannerDesc {
	font-family: 'Abel', sans-serif;	
	font-size: 2vmax;
	font-weight: normal;
	padding-top: 1vw;
	padding-left: 25vw;
	padding-right: 25vw;
}

.bannerButton {
	border-radius: 4px;
	background: $red;
	color: white;
	font-size: 2vmax;
	margin-top: 1vw;
}