@import "constants/colors";
@import "constants/shadows";

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: white;
  box-shadow: $faintShadow;

  ul {
    display: inherit;
  }

  ul li {
    display: inline-block;
    padding: 0 20px;
    margin: auto 0;
  }
}
