@import "constants/colors";
@import "constants/shadows";

.header {
  .logo {
    margin-left: 10px;
    height: $headerHeight;
    width: $headerHeight;
  }

  .wordbutton {
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    line-height: 40px;
    padding: 10px 20px;
  }

  .headerdesc {
    border-left: 1px solid $red;
    color: $red;
    display: inline-block;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    line-height: 40px;
    margin: 10px 0px 10px 10px;
    padding-left: 10px;
    vertical-align: top;
  }

  .custom-wrapper {
    background-color: white;
    -webkit-font-smoothing: antialiased;
    height: 60px;
    box-shadow: $faintShadow; 
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;    
  }

  .custom-wrapper.open {
    height: 250px;
  }

  .custom-menu-3 {
    text-align: right;
  }

  .custom-toggle {
    width: 40px;
    height: 60px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }

  .custom-toggle .bar {
    background-color: $red;
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 100px;
    position: absolute;
    top: 30px;
    right: 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
  }

  .custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  .custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  @media (max-width: 47.999em) {
    .custom-menu-3 {
      text-align: left;
    }
    .custom-toggle {
      display: block;
    }
  }

}
