@import "constants/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  background: $background;
  color: #fff;
}

h1 {
  font-weight: 100;
}

a {
  cursor: pointer;
  color: $link;
  text-decoration: none;
}

a:hover {
  color: $linkHover;
}

.content {
  margin-top: 60px;
  text-align: center;
}