$fireOrange: #FFA000;
$fireRed: #EB6725;
$fireLightGrey: #F5F5F5;
$fireDarkGrey: #616161;

$background: #FFFFFF;
$foreground: $fireDarkGrey;
$button: $fireOrange;
$buttonHover: $fireRed;

$link: #C62828;
$linkHover: #EF9A9A;

