$fireOrange: #FFA000;
$fireRed: #EB6725;
$fireLightGrey: #F5F5F5;
$fireDarkGrey: #616161;

$background: $fireLightGrey;
$foreground: $fireDarkGrey;
$button: $fireOrange;
$buttonHover: $fireRed;

$link: $fireOrange;
$linkHover: $fireRed;

